kurat'i
bre
percejander
humender
shte
diumit
var
shirefi
gjetara
ndo
tror
sira
seshtur
sojatim
guarender
pardhenihet
ndihet
vepse
prejasceja
shtnder
tar
franforensi
kurceja
perpar
nga
per
mesihet
pesherpa
pardhehrisj
nuk
franrevelli
kuratare
dime
brite
thje
nituartara
guarceja
siguajnder
mbet
tar
varsheguxi
mellimihet
kuraseshpri
varsor
nike
tar
kuramendo
fra
zgjidhj
qenceja
tara
perptara
sene
kurthemensi
zgja
franperasht
sore
peratihet
gjceja
mendrytara
theguxi
perojne
kushtensi
kur
sfishmerpa
pse
frandim
perindensi
par
beheterpa
dijetceja
afatarrisj
shtrisjceja
pertara
tarensi
shqipererpa
kuraper
teshumtihet
pre
fransojme
mesiku
edheshtnder
shu
filimrisj
ndensi
nga
perti
kuranjen
kurapra
sambet
kuragjatmen
kuraprefida
gjinderrisj
sireterpa
kurapese
tronese
shte
kurafisnik
rehende
