Qaymull
Nasoudo
Muntad
Musaaka
Omran
Naam
Razin
Haab
Jalee'
Rafaq
Waal
Jihaaj
Safaqib
Jalib
Uqbasei
Mar
Yas
Fidhar
Zaah
Haar
Yam
Hasit
Talhado
Saam
Aar
Zakoon
Mah
Qaaroon
Fiq
Tawafiz
Basin
Mujadl
Jaan
Luq
Sal
Muhtafo
Azhail
Sayth
Rasim
Naateez
Mutaalh
Fail
Khaqib
Razayb
Alahays
Haa
Zakri
Haashr
Ghim
Karee
Aarzoud
Shir
Lathidh
Wah
Uman
Mateem
Ataafiz
Haal
Nadah
Fuadama
Ra'awaf
Majeed
Walalah
Latim
Saleem
Ragheb
Jal
Ubahid
Rashir
Shais
Aari
Aws
Abeed
Saarim
Amee'
Waadl
Naan
Raseesa
Sullaan
Mutaad
Bilaan
Sirah
Fawoudo
Shalhaa
Taateed
Muf
Khadil
Baamil
Ahmouha
Ubaa
Faroonu
Huth
Sam
Naaq
Mayfaq
Taroori
Adnasee
Safaq
Subdul
