Sarham
Carhar
Sar
Balah
Jebelah
Kad-nes
Zamsh-s
Adan
Calman
Carra
Kisruku
Anu
Rab-kin
Car
Hattu
Arbel
Shad
Ish
Sennipa
Nin
Sin
Esaggal
Harhali
Hab
Ela
Sennaga
Hamsh
Arbelam
Urani
Urarran
Adadese
Duran
Turtu
Shamash
Merarru
Tukita
Sidon
Senni
Ashi
Adaddon
Tigla
Adanese
Zaggala
Hama-ub
Zam
Carham
Carch-p
Nin
Assyrin
Adan
Bisruku
Mitanur
Marruki
Sennach
Jebel
Hatti
Ashi
Ashur-S
Nimrin
Ashur
Mitu
Elamash
Jebelam
Nabur-u
Teushpa
Zagroda
Anu
Anurtar
Mer
Hab-kit
Nin
Durah
Dur-Sha
Mit
Turbela
Shaddon
Ehurnac
Kargon
Tukinur
Ashpala
Ishur
Hamua
Ashri
Mitu
Adadese
Sidon
Nin
Calkur
Urar
Bisri
Mer
Merodan
Adad
Adanach
Shamrin
Assyri
Ashku
Esagali
Shal
