Haj Lum
Luud
Gah Dor
Sil Lor
Thad E-Thor
Mors Il-dark
I-Zan Bal
Kanum
Lan Orm-O
Horio
Lar Il-dus
Dak Mad
Hor-bar
Zithis
Hor Jan
Tithis
Thar Pho
I-Gorth Kor
Em-Tor San
Han Vor
Tithan
Povan
Tavanto
Ran Sol
Vobis
E-Totan
Em-O Kal
Nurjus
Torquas
Leeayta
Thuvas
Tee
Thao
Altija
Thuvan
Tara
Tho Dak
Deja
Il-tija
San O-Man
Doxus
Anaron
Zamak
Lartan-
Wol Shan
Rojastu
Tel Sor
San Ham
Sil Jan
Durjus
Kamak
Dotan
Vas 
Mula
Phora
Ptortis
A-Solah
Had Tor
Tarthis
Phortij
Tar Sen
Kamak
Zav Tan
Dia
Maidon
Abtorqu
Dur Gan
Ana Daj
Gorsted
Zanum
Gan-O San
