Belasne Arri
Pano Itoibie
Ermoler Nabikoa
Zuma Paroa
Zeberex Usunbe
Zufia Elkain
Otzauri Barritz
Amena Hokijan
Zitande Ane
Oska Aurgine
Letitza Bitxi
Lerrile Burin
Iganta Nikua
Arte Kupieta
Luia Andre
Poyo Lexolea
Irune Lamikor
Onio Gartegi
Bikua Ondregi
Zabaliz Ili
Iza Geaxi
Uda Ximetat
Xixa Laguioa
Pilendo Arkia
Marte Azisane
Dotzara Isara
Pauliga Otz
Amale Adueyo
Leinaet Eldo
Domeliz Zantxan
Almusal Belaurg
Orosuru Olin
Ostieta Uda
Maitza Karda
Ermen Naburre
Bengotz Minia
Men Ataitia
Donilu Zuze
Lamu Urdoika
Almuska Sabagai
Irana Gereort
Sote Maina
Egieta Gari
Haitzei Bita
Irati Aurtie
Urduend Maintza
Arritai Arane
Ola Aniaker
Oiti Mardana
Argie Maiana
Men Garoroa
Zubiand Esti
Etxo Kartzea
Goiakua Lexo
Gariard Alka
Uda Gariarn
Sornart Zalorki
Olariz Bitzija
Kondao Flo
Gozia Men
Amane Amarrai
Arrana Gurgoro
Amatxak Gardia
Bede Gaitzub
Gotza Sokia
Olane Lidenza
Ursoz Belia
Amare Piliobi
Egi Marbiar
Goiar Ixona
Kiza Gerdie
Its Pategia
Amu Nabarre
Mundaa Ena
Zikane Osa
Amadiet Angarri
Ira Gipuzen
Anduria Ain
Ernea Oromara
Ikundia Muska
Usmene Zaltzau
Apaina Dista
Zione Iliza
Errarte Onioa
Sosegir Bita
Leguria Xaxi
Eskorao Musart
Garduri Xaxu
Gerri Beriaul
Ansa Legunto
Arreza Arbadua
