Sastert Lardoli
Maitzot Etxeli
Iigosto Alardon
Loparza Orkel
Fire Pausti
Hort Oidarra
Matz Beramu
Gorosed Xarka
Mart Ospiego
Lohitza Harat
Aidoban Ixakitz
Lukela Lapur
Huskoit Egutxi
Hario Aredo
Emen Todorme
Gardoli Gasti
Bartala Azte
Lukinte Don
Eka Gerdari
Zigaio Osti
Xurieti Ezkorri
Txo Jaio
Etx Bihazta
Garlaro Jon
Anakoit Gaxan
Ihitado Azentz
Don Borore
Sugenda Juax
Illotza Loilats
Ador Luzari
Fordi Airjai
Ostiagi Emets
Goilail Pantu
Matxo Maurin
Zadoki Pesin
Domina Itz
Arni Dieri
Goiz Pernain
Hartzib Majau
Iratore Orti
Peltebe Bazki
Paguri Zel
Aratzi Biremit
Jakuin Oxander
Baz Biketso
Lihazte Azea
Pasoi Oihe
Bel Txausti
Ler Ariaran
Diar Iraiori
Mauru Axu
Jokin Xanteiz
Beruker Zeru
Axu Soiton
Biderua Hur
Santike Domet
Lorraun Eskoldo
Gordi Beizilb
Ber Mardasa
Laraitz Asta
Oihanti Domi
Ira Deizko
Gaizkel Ador
Dier Oxelia
Xala Gaia
Seli Pastia
Mikitze Kel
Hitz Mirjaus
Aier Ezkiagu
Eduruan Min
Adurdai Nuxkin
Esko Berenot
Abea Kaiegor
Arna Lasoka
Santsu Garizko
Oskor Bazilat
