Rodhnan
Tadan
Gourcht
Brarviu
Vormac
Mureola
Caha-
Cumha
Mod
Narudar
Dal
Lae
Lulbaid
Dubossi
Mulaolu
Tia
Math
Fogermi
Garthur
Ivon
Caolinn
Agned
Dubne
Ruithar
Kenne
Ban
Talongu
Buirio
Aodvoc
Guos
Coldh
Blail
Cathach
Cúmhíní
Tóathab
Melbria
Breth
Miltlag
Fin
Vepach
Kenessa
Ing
Maebica
Doncus
Bithach
Caeitt
Grittio
Ilauniu
Cáemeda
Madhara
Rórdomm
Lullaid
Fot
Dolanán
Emidanu
Viroi
Kenn
Luachac
Dunn
Weonner
Oscile
Fion
Orgaill
Naol
Andelli
Barduff
Aillinn
Fioc
Bern
Mach
Maillau
Abharry
Garthúr
Neil
Cistos
Tadh
Semecan
Tóad
Art
Caelsti
Ciarbra
Eingue
Celkort
Lugh
Invelma
Ban
Croisea
Beaisne
Col
Caming
Muir
Morassi
Argiacu
Comgen
Bre
Tuaigh
Mir
Caidh
Cogal
