Ana
Mave
Eur
Keene
Cathran
Aurin
Éir
Gráinch
Muired
Cervall
Tia
Briat
Orfhilt
Car
Tla
Fiamna
Sca
Bláina
Tem
Fenis
Ela
Únairna
Feingai
Meachta
Baria
Cia
Vacha
Alma
Tat
Ohna
Dereel
Muirm
Finna
Gobnat
Caoithn
Medna
Liley
Devili
Teluirs
Brid
Éillen
Éabheam
Mearb
Sárnin
Bega
Bid
Don
Aid
Dal
Morecli
Rorosna
Monn
Clodici
Trenata
Tlan
Brinnor
Sne
Derennf
Owne
Daalle
Ida
Aedbh
Cren
Coldiu
Tan
Lebian
Derch
Mand
Coithne
Lasal
Mádaoim
Lára
Eallais
Finiabr
Iniabh
Billaid
Direa
Bebinia
Muir
Caoilen
Eibhnai
Becht
Dorocc
Blinnat
Mon
Lasaire
Coreenn
Eimannf
Ealbhea
Derch
Deirse
Sina
Cróema
Bláin
Ciar
Hya
Gricen
Bromall
Bricear
