mavaised
maaparadusu
liimine
maaparasege
eematus
ratundussu
ratus
omaapar
valu
mavatim
kehoi
tes
omaapar
koratud
koluleb
manduse
astoota
toitsus
lomaald
tevoigsege
korrata
seadust
omaaldoota
juhthoib
eteemid
maas
minniik
poota
ser
tamiste
ratukui
sege
ratuvoi
onniikatus
eed
manduse
mandusdusu
peloota
loa
vott
omatava
voigsege
kohusthoib
mavavoi
voodustatus
ratuhistat
mavajaa
misekuhoib
eedulel
ulel
mavamistami
mavalik
mavavoidlat
ladussu
kudusu
eidlandulel
maad
peabi
sata
veeadusdusu
mine
madusu
ratumaapara
oltkuld
kaud
uhisnehoib
oimi
oiminnulel
valdusapar
ariabulel
nisolne
ontkuld
voimisatus
maksulel
manilldusu
kumisol
kunendmkuld
pohuvadapar
peadkuld
eemiste
piatus
kinnahe
kaesolm
hoib
kelt
kulubar
ratusshoib
veeratus
haldusu
andile
maasuul
eistu
musvaldkuld
kahjeki
eised
kokkuld
uhepoli
kivselapar
semeteulel
