Tsu Yoshisu
Imoki Kei
Fusanak Yoro
Kyu Akagata
Okihira Kei
Hari Gemasa
Kori Kihiiey
Fushish Jihiroh
Jozenob Ten
Emitsu Hira
Wazane Oto
Shiraza Kyuso
San Gehamon
Toko Kataday
Akayuka Maro
Kagemit Shiro
Wao Mitsumi
Takamic Hin
Maro Kiyori
Mochuem Kai
Akayuke Sari
Ien Imari
Mabu Okaneyo
Tadabit Yosa
Ari Iwatsu
Bakiyor Kahi
Ien Iwatan
Chuemor Emi
Shi Ryonusa
Ujikkah Oko
Yosando Mashi
Harinor Kami
Mitsuka Ogu
Rinaro Kai
Yori Jushiyo
Mushari Chitsun
Sahei Suke
Kagen Ienorey
Kuemo Hige
Ben Rotokat
Maro Hideham
Goro Jussaru
Umi Miyoshi
Agataro Kyusu
Motomo Yasa
Kando Okomore
Higenke Toko
Chifusa Musan
Yori Omaroto
Kori Shidasa
Toshoze Maru
Iwate Hiro
Munakat Jozen
Marinag Hiro
Nagemas Shiron
Watamor Kato
Tsu Okori
Arotosa Azan
Narikyu Muro
Iwatada Kai
Hissa Shinori
Juntamb Doshoet
Yokuemo Eman
Kai Agate
Kmaru Mussada
Fujifus Aga
Masan Ieyasar
Nagen Masunag
Junori Isa
Bakahis Fusa
Bakagat Miton
Haruhid Naru
Kura Hisumi
Nambo Nagafus
Akato Taka
Emaka Jusa
Saneo Aru
Jusada Tsu
Fusa Akiyasa
Toyomas Kura
Gen Kahei
Kagambo Haru
Iwaoshi Kei
Chiro Fujitsu
Ieyori Shi
Marikky Fusakaz
Gen Iwaten
Chi Yakai
Kyori Miyosu
Goritar Muso
Kane Sakatsu
Tanetsu Hira
Kai Uchuemu
Takiyos Nage
