Jun Shikami
Kurinoe Chiko
Tokio Tame
Izue Ayo
Chobo Reiko
Ocho Kazono
Shizuyo Ako
Umiyami Maka
Aki Masadak
Sae Inoyo
Kari Haneko
Himekoz Seki
Tamensh Ruriki
Izuki Senshik
Onshiku Ume
Yukogo Yako
Kio Onoyo
Yasayam Senshis
Chi Okusuko
Shisaya Sae
Oko Masayok
Chi Kazome
Yaka Akazono
Siko Machiro
Miyakoz Suki
Tokiko Sago
Ochi Kamachi
Fuji Teikano
Shizuyo Ken-his
Tamari Kiwa
Sukazom Fuji
Mikogo Miko
Okio Senshim
Sikamac Tame
Ino Akawa
Kazomoe Chi
Miwa Rurikaz
Ochizuy Riko
Hisagam Fuji
Jun Kagamac
Midorik Mako
Oko Musiko
Tako Shikiwa
Ken-hin Miyamek
Yukiwa Riko
Kawa Mineki
Sako Akusuki
Tsura Hanazon
Takamen Yuki
Mikomur Maki
Chiko Tameko
Fuji Miyasuk
Kagamik Nari
Yukozak Yaka
Towiko Kago
Taka Kozaka
Oko Akaze
Masako Hana
Miwaku Yuko
Ineki Seko
Masayas Kaze
Senshir Senoyo
Sakawa Shi
Fuji Onoyosh
Tame Kimekog
Chobo Hanari
Kawa Yukomoe
Jun Masacho
Toko Makusuk
Oki Kamiko
Keikari Sae
Kame Okikaze
Yuko Masadak
Shimido Shiko
Masukin Sae
Kume-hi Sako
Shizu Shimiya
Umeko Machish
Tokiko Renshim
Umiko Shi
Fuji Kumekio
Matsugi Kago
Kawa Masuri
Toku Hamiwa
Fuji Machobo
Keiko Sen-him
Hame Nariko
Imaka Senshi
Mariko Shi
Shikano Jun
Ochobo Senshis
Chi Chisaga
Hizu Hizue
Sachizu Suko
Shin Kanazom
Sachobo Shi
Yukikar Yuko
Yukin Okina
Senshi Isakio
Okura Kenshi
Keikogi Kio
Sekinek Tako
Imenshi Shi
Yame Takazon
Midori Nari
Keikura Fuji
Tame Ochishi
Imiyo Hana
Senshik Isachi
Rura Takanaz
Minomar Kika
Ishi Kanomoe
Sae Shisaka
Hanari Musi
Tame Takame-
Tsukiki Kano
Miyakog Chi
Yakimak Suko
Ochi Ayakana
Shi Towikiw
Cho Miyakus
Teika Kiwa
Macho Kawaki
Toko Setsuko
Keno Shizuko
Hana Mikimek
Ume Kiwako
Onshiki Sae
Setsuko Yuko
Masukib Yuko
Hanekik Ako
Ochobo Shi
Sayasuk Sayo
Hanazon Hana
Mara Setsuko
Sako Reikome
Ochi Midori
Tame-hi Tako
Midori Tako
Machobo Kuko
Hana Umekina
Hizuka Ime
Narino Hana
Tokio Yuko
Sae Izuko
