hawayc
ishwanru
akshuqari
ham
haqa
ats'uk
matquqa
hata
ushawi
wanatskash
salli
awshu
yawiushash
kumhahari
atquqalawi
sawqa
ukt'may
atats
huqayc
narip"ari
ts'ukki
tsmash
ahamayn
ats
saw
haqa
hawq"us
hachwan
maykats
atawtaw
tskiri
tukt"a
huqata
kuwayks
maykash
may
ata
atakirhaha
ishari
atahats
aki
tsmataw
yanmnap
awtaw
aki
watuksh
hawishi
wanya
maykatsayc
atquqayc
tskirha
ushk"shu
sawats
aki
waychap
awi
yawilli
yawi
hawtaw
ishuqru
hawqa
munkt"a
haatquqawi
kumparayc
ishtquqal
ishsalyawi
tinkumpats
waychwa
hahamnaha
ahpashu
ants'ukari
kumhaqa
matahat
hatamnash
k"uwanr
tukt'ir
ishuqash
atata
maychacaha
waychat
upashaq
hachwaari
ukshawash
watapta
ishkumpari
ahamata
haatska
quqalyari
wataha
tsk"aqa
waqa
wanari
anrata
imk"ayc
ukt'maaha
akshachash
waychatash
waywanr
hachamnaha
