Marakki
Nul
Mungutjal
Maren
Numerida
Alu
Murne
Muka
Mitiu
Ungeiniap
Numbego
Apperulin
Ngarawill
Kumparul
Numeriwa
Mina
Tjumpalin
Miniammak
Kinmongar
Mitjalla
Areya
Yoko
Murnmorko
Muri
Tjeyi
Mitjala
Mitiu
Murne
Mitjumera
Nama
Mupperain
Tjunamako
Kul
Muduarobo
Muda
Kudingutj
Marbukarb
Miniaminj
Lallaudap
Norkoroma
Apperupun
Murak
Kinbai
Yokordauu
Murak
Murapunge
Nga
Kumeruwoi
Naminjill
Muri
Norukan
Belgra
Nolebaiiw
Kumerawil
Mitjurama
Ungeyiala
Mikalmaka
Unga
Arallauwo
Murnmoria
Numera
Nga
Mangariik
Miniapung
Minbi
Noleikgen
Ungmeri
Narupunge
Man
Belgranga
Umeri
Belgrawai
Mangarida
Korko
Kumerigar
Kungareyi
Warakorob
Kudingein
Mingogumo
Nulumberi
Oogo
Mingoguto
Murrall
Muka
Nul
Kumeru
Ull
Mukarapa
Mirnmijey
Korpungar
Chilla
Kinba
Obareniu
Ukalloa
Mudauwoiy
Apperumer
Mukori
Murakorpu
Ungeni
