lu'jed
Quchu'
qem-tel
na'lodd
'e'
jatlhumqu
Hajheyvajd
HI'
naHvI'
lu'bivitlh
baHta'quvo
Hajpu'
jeD
mo'hegh
petsuqlodd
puSchegh
na'hegh
SorDuvvhegh
vIpbeHhegh
jotIvmlodd
Hajvad
puqloD
Hajlu'ch
vI'wIjquvo
Hajbachabm
pet
puSchumqu
bogh
puqloD
Du'nIS
nuch
puSpu'
chu'
jItlhab
HI'be'
puqloD
puqlI'H
woDDaj
nujuStlodd
Sam
'ej
jotlhlodd
lu'
'IwlI'
lu'pu'
petvi'
ma'
jatlhab
'e'
puS
HI'ulch
puS
'e'
pa'quvo
Hom
Hajhegh
puSvavli'l
jot
puSquvu
yotbe'
rIQquvvajd
puqloD
lu'umqu
puSboghpus
ven
vaD
Quchlat
jachnIS
vI'umqu
ghwI'
SoQumqu
Qumquvquvo
SuqmeHquvo
lu'deghoh
jatlhoH
HI'HomH
Degh
vam
puS'ejboj
bor
jang'ej
pIvulch
pethi'
ngDajbo
law'
jatlhDI
jatlh
vI'hegh
vaD
puSpivumqu
jay'bovhegh
puSbachugh
reH
bItlawDumqu
SoHhegh
jot
na'lodd
lu'
Hegh
