Gurs Salvili
Osventi Rijs
Sars BoLesis
Magnis Zigusta
Guricis Gars
Kazinal Kols
Kolairs Kus
Ranis Aimikaz
GuselmA Georis
Volds BoLesta
Leodris Igunts
Aleors InalErt
Raivald Rekselm
Ilvievs Mandis
Gunvart OLesis
Modrisv Varnede
Brencis Askarij
Parener Gundris
FElips Eintis
Tolavs Andidis
Rieverm Ars
Maks Hernede
Evars Leodrit
Ginars Eginis
Sevgeon Lots
Garinis ElmArs
Osmirts EinAris
Otomuts Kladrej
AlErts Otormun
Egmonar Arts
Rantis Sanikus
Gaivold TAlis
RomArs Ilhelvi
Krikton JevgeNi
MiKelmu Ludis
Berts Raimned
ZigonId Osmadau
Maimdol Santis
Anritva Varmunt
Zinduli Vars
Vilvis Aigunts
Arnesis MatIss
Andulip TAlijs
Anis Ivarvar
Zintaut Askons
Paulvik Evalvik
Edis OLesis
EdvIns Reintom
Edis Alfonis
Rignati Ars
Augols Ards
Aulis Zeps
Santarn Ermakse
Nolds Kareing
Edolds Edgarvi
