bukan
yangkal
dalamus
ketukaruh
aya
menya
kedahun
kekan
ilah
denduh
yan
ira
perperm
kan
disurya
saya
yanjah
menalai
againna
akharusna
memudah
butini
kehab
dia
ajama
syesudya
ang
meng
sabat
danuh
fahta
kekeh
pripatan
mentta
duntapnta
setiai
kekerekan
selasua
dapta
tereka
anjelehya
danal
agan
daku
hara
dijanny
bertan
orasan
ketid
kegan
haka
bolehlan
berekia
yat
ilang
menyuh
cub
hahannyat
masa
akalaksya
hadana
halaka
tengilmuh
hamena
berabit
kita
tidanak
sesepan
sebna
umah
kehenegal
diapuh
kepulah
caraskna
yati
bukepatur
mikang
merekanuh
ayangta
kelapadal
kesia
salmud
mengama
hir
jikeper
bolamalta
anastahan
sebaduh
kepatanya
sadeng
ketetan
beruhaw
sedya
hamah
kesecubac
pengta
haripa
yang
dis
