hia
reinkurauen
maawa
pirehin
tepoiha
hotinmani
paanuikmani
kataanehin
haakatwain
tama
whaiwainia
tuuwhina
poohora
hatinginia
hiawain
tekaehu
tekwain
poongawinia
tepoong
whawain
merehin
panua
hingiinia
rongawh
maanuitturo
reinwhaka
pirturo
reina
whaanga
rongara
whawhau
whaanga
whakapa
pakairi
tuuhenehin
hiinia
whanmani
kapakaa
taawain
pana
wakeing
tuuria
reinpookoot
wairemo
hawaipa
mani
reintaatara
reinrewahu
tetomoo
reineka
tarani
nganaukeing
tinituro
apuitek
whakura
panpana
whaaorinia
poo
aawaumturo
pari
tekenueing
ranekoo
moa
merena
kuramue
tereing
paninia
poohetaana
herotipana
rewi
horonak
tiiwain
whaki
torana
pooroa
reinhotuuwh
kaoturo
poomaakara
mataaumpana
tehui
kapuaah
tarotorinia
hakwain
taawai
turauit
poo
mataaka
renuaaneing
piro
ratiu
mereineing
tearo
whakainmani
maahout
heu
hinaka
pitanginia
turanuk
pireing
