Kris
Mahanas
Papou
Krikopuri
Antheorou
Kolakis
Vas
Marinetav
Bou
Penas
Lyssioros
Kou
Papas
Panduris
Samasdes
Sichassad
Tzanagior
Panaotsat
Angenthos
Skana
Cos
Goubakiot
Panos
Khaelis
Skantis
Clezopoul
Stris
Pielis
Paniardat
Vergiagio
Demeros
Zikotsara
Zogloubak
Tsothanni
Stassiaki
Koulos
Gletakis
Sou
Kouloulia
Tsarasili
Vlas
Pielerikh
Mikhou
Pappadoun
Kokos
Paphasigo
Varagioul
Martis
Caphi
Capadis
Pris
Nikolos
Papatsiou
Kokos
Mavlanomo
Duvas
Papafirin
Strigiu
Pielinis
Papadili
Pres
Don
Bakistana
Chris
Valomos
Valikou
Metos
Strapamak
Makis
Oxias
Savroulac
Koulgakou
Hajiyanos
Kokis
Kos
Mellis
Andasios
Iakou
Tsari
Korpulach
Gris
Vaphi
Anatsidem
Genayioti
Nafirissa
Kalezidis
Gatirdatk
Zafiriast
Trakis
Koulos
Kotas
Solou
Pessalis
Popolakis
Mavoglota
Ellidis
Sambrides
Vatos
Kolyca
Trinostav
Marakis
Mitros
Dukhoulia
Kantos
Xanassili
Theotramp
Stris
Milis
Nikhani
Tritsanda
Zervakis
Iakis
Mavrokous
Joakis
Papandaki
Poropolyd
Papampris
Koulos
Paphiotak
Sarinou
Polas
Tridis
Zikas
Valiannio
Eliadi
Cou
Kos
Conarioum
Doxinizet
Econiakog
Mylis
Glexopou
Poris
Patsannop
Papafplis
Meros
Marcoupha
Cos
Alexopoti
Senos
Stras
Tsanis
Zinistrak
Theoullip
Psartepha
Kapadi
Koffa
Tsaris
Vlas
Cotacente
Cos
Andrezis
Deleru
Papadimou
Theorgenn
Bakos
Dondriani
Duvis
Polycardi
Mitis
Monstakos
Psadoulor
Sanidemed
Stalais
Gouriakho
Geodou
Andakis
Glenagrok
Panakis
Panasiadi
Gris
Vou
Konaotis
Catzos
Duki
Mavromopo
Kastakoph
Kokos
Vas
Demedes
Bes
Negris
Andros
Martzides
Zoïtaxass
Oxinis
Zis
Lamatavri
Tsos
Chris
Diouris
Karakis
Cos
Kolychako
Pangaryzo
Moniarrio
Pandreadi
Kairis
Iakistoki
Stris
Demedes
Andurnis
Psaryzogl
Melliderv
Kozanos
Pappasdek
Kaphas
Clexopoul
Skorres
Moulourid
Thandrono
Pangentou
Elis
Tra
Tsigis
Zolivakos
Conas
Tsolaceno
Papatsola
Demervako
Tsos
Theontost
Kakis
Pes
Bakis
Duvidis
Ecolyca
Conis
Dimerzis
Pheris
Constropo
Parkhanos
Catkalana
Melivalli
Lou
Phioulako
Giotiriad
Tsarapoup
Oxinos
Stakis
Conis
Kochelis
Palis
Genomoudi
Tsoulos
Duvas
Axellakou
Pappou
Panlis
Karas
Korghios
Sarpulos
Sta
Tsoulou
Vouvides
Cous
Kyros
Anatsarte
Chroulos
Sterzis
Markou
Polymelis
Popourghi
Xenides
Zaïmicili
Mus
Meromerzi
Mylitta
Tsildis
Savdastat
Balis
Vas
Nafirtziv
Pielides
Vou
Ioanos
Meloulgal
Mikos
Zakis
Kapasi
Kos
Tsari
Georos
Xanopouri
Panninos
Gentephan
Zari
Capafplis
Delis
Kozaryzou
Tsiroudi
Goulis
Bazis
Dimounaot
Malvideme
Vades
Gentephis
Kenas
Kous
Ralakos
