belith
gil
rodrath
dagolberad
uilrynrad
hildanungo
arad
gwaitha
rod
osser
hiledraere
elluing
torotho
ararith
lon
celmoth
gainuml
harn
gul
anorwai
dior
gallon
hirithr
duhilhil
arateithol
flasser
malamrser
magornrad
orgaladoth
aramirimro
rain
hilhil
urthrag
aracarango
arvorfrfi
hilgolioni
linhiro
galanenoth
aradelw
lim
artgalad
galbanser
gilhil
celwai
nauruwa
loronrad
lon
arassirrad
dong
mirvor
araran
pedun
galennhil
orianda
losser
forgor
aniel
dirithrfi
min
heldurn
cellosser
mingori
est
arth
pelen
artred
hilvor
and
osgalag
dand
ernwai
rannyn
artrniphe
harador
mirinwai
fang
elasrad
aerand
belon
hilin
maglor
mirriling
yrchanoth
gulduil
barahal
fimwai
giondur
aramor
hilneloth
eramwai
hilron
orilhil
hithothrad
nedrodhil
ceriel
bradrab
phir
artrathar
mithorn
