Hero
Ignao
Nicon
Luindo
Aznalva
Andoño
Gundo
Mar
Heroño
Raio
Iñigo
Pedalta
Isincho
Sal
Recas
Tiago
Leo
Ansar
Góme
Sillo
Oveco
Osmeno
Lucarra
Julcis
Bal
Gas
Lorgilv
Berigo
Isaldin
Fero
Tiago
Almiro
Nuñonio
Gas
Baldino
Ignal
Ansorgi
Este
Velo
Aznan
Lorredr
Arnán
Sebas
Luister
Alombal
Teonzal
Mateo
Gundoño
Gonsuro
Guntari
Anso
Iago
Mario
Tomiroñ
Iago
Ordoño
Sancili
Joro
Gómendo
Garendo
Teo
Ordo
Dulio
Garcio
Ignanzo
Vimoteo
Olio
Gelao
Leo
Velmoro
Gomez
Ango
Maro
Timengo
Maro
Raimund
Isaimo
Tiago
Amo
Iago
Dulipe
Jimasco
Ignao
Audessv
Fagildo
Lope
Fernaci
Muño
Nico
Mar
Elipe
Gas
Angus
Melcho
Credo
Feronse
Diegild
Pedalvi
Adulfon
