Ana
Mafalic
Urranci
Gunde
Serna
Gellaca
Ermeba
Angara
Bla
Santrod
Vica
Domesab
Made
Ysabeli
Ende
Sancia
Lucisca
Isabeli
Cristef
Isa
Ermesin
Isa
Bona
Domes
Isa
Claria
Placa
Isabelv
Esterqu
Bel
Isa
Tarena
Fel
Ineulac
Mana
Fatante
Gundeli
Juardis
Fafanar
Tarbolu
Made
Yolo
Estina
Marga
Teonza
Vica
Urra
Victola
Angelip
Gotima
Isa
Berquin
Urra
Ermenca
Serna
Clana
Gotimen
Maresin
Isa
Froda
Ilda
Barina
Elderta
Bonia
Elo
Eva
Ines
Isa
Isabell
Isa
Ana
Barinda
Eldonor
Marta
Teoda
Tarisca
Mayoria
Agueda
Velvira
Marena
Victor
Marbola
Froda
Isabele
Cria
Ermench
Urraca
Esterto
Barench
Luina
Urranci
Marina
Luistin
Isalba
Gundist
Vica
Ildonsu
Ana
Mafalba
