Mosader
Caso
Cama
Vélixan
Yustiza
Muran
Bera
Del
Oso
Adendo
Val
Nún
Hueivar
Artez
Ocheala
Dabriz
Meola
Dávi
Lardez
Mazquiz
Rivarra
Mara
Clese
lavaril
Parrio
Rochule
Porchu
Mos
Bardes
Herra
Nado
Rimella
Sáencio
Valda
Saez
Morcioz
Romey
Alkorri
Conas
Morga
Riva
Perra
Romata
Leo
Estragr
Posoa
Foa
Dieroit
Cermos
Coya
Cabano
Olas
Crutiér
Berrado
Escular
Saeberr
Gano
Xerro
Cany
Encheco
Lornal
Sualedr
Reyda
Hena
Con
Garza
Enrano
Vas
Gano
Ranovan
Escudal
Almacho
Cleda
Coyoria
Roda
Morca
Carreca
Cerria
Naha
Mardent
Valda
Ruina
Ruamiz
Monturt
Verazo
Baja
Vegalcá
Tueniz
Senez
Meixaez
Mata
Sillans
Soisti
Migel
Barez
Brabaci
Barbio
Mejo
Baso
Cantegr
Mosa
Ocatuti
Riquela
Altanar
Caso
Mordos
Puez
Matia
Marierr
Quesulu
Dellaza
Vélio
Moyalla
Pats
Roblero
Ocho
Ortan
Hendion
Meo-Vic
Carois
Martarb
Ango
Praleno
Prez
Giras
Aleijer
Carcal
Calealb
Tola
Meixand
Beroerg
Leonerv
Arilli
Rubretj
Garquer
Gamino
Bus
Mes
Tuscria
Salla
Beros
Mascos
Felloa
Orez
Belano
Esprio
Cisquen
Falligu
Tero
Vaioloz
Aspia
Luceman
Montoya
Olmacep
Mena
Eliguer
Zapejia
Lucelas
Sedo
Princio
Alvarri
Meijel
Robano
Fra
Mas
Rivaler
Lamporl
Val
Vegro
Camatut
Servaer
Pinhola
Gaveabr
Acudabr
Pán
Cantiz
Roistri
Segas
Altra-S
Navi
Barusqu
Isale
Alvapia
Fungar
Ales
Monto
Cla
Rosti
Cojuan
Mendez
Andovel
Monizar
Mons
Suarfán
Casco
Ortez
Bur
Cabano
Bela
Loria
Sal
Cor
Toran
Lucio
Valesas
Agi
Que
Cueydas
Clerrer
Vega
San
Piego
Roblesm
Durdile
Cano
Violdi
Zero
Rufo
Puey
Ruan
Cabaled
Rantoch
Bero
Lasturr
Aletega
Rola
Iniza
Bal
Man
Quez
Sola
Sallo
Luena
Llarrer
Salín
Galbain
Oca
Cabano
San
Cas
Valdama
Sago
Crida
Escarso
Leolana
Gira
Ida
Tertas
Máres
Car
Verlaza
Bas
Chareir
Cadez
Balho
PeÔ
allanzu
Alejo
Angi
Corgast
Berosed
Feixaeb
Aria
Saleriq
Orez
Fro
Armino
Pizosam
Aginand
Cel
Montans
Lorcarr
Caruceg
Rojuarr
Urtejo
Vallega
Unzues
Vales
Rastial
Concill
Herrela
Ote
Estro
Alta
Baja
Zerraco
Sana
Merdero
Puillo
Isamuli
Sarriez
Enriqui
Ora
Pizendo
Mera
Balcarc
Rey
Gamaran
Xovarez
Mera-Si
