kabadibis
giszida
gisipa
gitaka
szu
aniibun
musuku
mugarba
gikumude
kibrudu
gimussa
abun
dniigin
imdun
haszu
gaszuga
igubba
kursagzu
atagala
nunamun
ansi
dningi
zigub
mumaniria
tudeneg
ananani
kal
din
annumun
sag
siszagzu
ankuki
kisuku
ningisa
idapade
gikusziib
gigur
kamulla
anlgabga
uszubitub
pagar
musze
dni
maamunzu
giriann
kua
kaba
mudugal
guduzu
annani
kaur
mukunamlu
gimuzudu
garabil
sagun
gallabd
angalani
kagallagu
munamur
gikaka
gisze
kubun
girigir
dubanzu
hamta
mugal
gigisz
magal
kudeun
gininnaam
sagu
mumunarga
gin
gisze
sze
enigingzu
gimmud
gininzu
kasze
anmur
magaam
gibiszu
ninidas
gizigarra
kisun
dililda
munag
dubun
gigiszub
szatag
min
gimulasu
mumub
uszegal
mebium
gunub
giszeun
sar
imiszgzu
