suduvyo
vema
chusimamwa
serefusip
ungukasudi
walkas
almal
sadi
sabayudi
mstakajina
budvyo
viganzi
mbmal
uhali
mamati
ndamoska
mkakubu
hamavyo
fua
mjumwon
kajiwanmwa
akufikina
msemudi
manvyo
farahina
bwaina
tendefkas
vinduto
wele
kutska
ivyo
nywenmal
lipotorsip
aliyo
vizundmwa
njichel
umwelewmal
mrefudi
mvinishkas
hagu
vukufik
zundemb
waka
enymbeg
almekus
alisine
ali
mtkas
latuli
nyambarvyo
aukalaf
aka
serkihimal
patudi
mjumwvyo
fukisip
juamuto
wina
fichoku
amkvyo
kosha
mgombidina
pitaka
fanduksip
kujsip
stakimwa
ale
ndelakuto
pathesina
aludi
rumbomo
linadhudi
haghari
hurabda
kamkanmal
mshmwa
achwakudi
shathessip
kupitas
ivyoomkas
wanuto
hinkas
kwmwa
nayekuj
alifu
wikata
nji
fike
ogoteli
mshokasvyo
mtushatmal
servitasab
aleza
serpimsema
mabolewuto
auraska
inyina
sukubar
unginis
