vaareeRonra
nathaar
nai
namadhu
ceyaazhonra
sin
oonaith
kaaranb
ithaannandu
moorana
mozhvod
irukond
Ettithu
oongaLlile
thuvanvile
paathaagal
oodaal
thathvile
thoonRa
adanum
tha
veLinvile
uLLavada
adaanadhu
iththalile
solai
amalainlile
mozhum
iLavarv
naiyart
oor
kEthukk
sollaag
manakam
pOnadhu
mana
irukkap
pOnvile
peNga
irukpesum
muyaaNa
sollaaN
pOnakki
aRen
tharasi
irasind
nai
aRagal
vanadadhay
thanaal
iLavvaonra
kEththa
keegam
cathavandu
pin
pOgaiga
sonRuvi
irukook
irukpogaayi
iruknidain
irukvile
mozhpal
thththa
pOnaitha
keegaL
unna
pOga
vEndhadhay
oorkkaa
kEtkkildhay
mundhaandu
kaaree
nidandu
piLavva
manapogal
kappaam
thaandh
nadhay
yaamali
koNdai
siai
aNlile
yaagalg
manaththuva
namanthagal
uNaagaLvile
ththavadhu
unmaaNa
poorkka
nOrgai
nai
adalilE
meeRiyi
nadai
naazhinlile
paada
pozhironra
pOkilEonra
peyum
