Dhichariyo
Sum
Busamon
Doklekhyin
Chai
Yaowanali
Ngamasi
Ching
Achani
Kae
Malee
Mek
Kansiri
Yinghoi
Yensri
Sunehoi
Chanikali
Ngaramphan
Dhichatran
Tulmae-kam
Mekhali
Sumaali
Dhiyodmaid
Maecharawa
Adunhoi
Dhithaliwa
Tukon
Dhichana
Sae-Dua
Chalhoi
Dhingsu
Ung-Pra
Tulklinee
Ban
Maemek
Tultali
Pra
Kanmani
Tulmae-dua
Sarasra
Sumala
Tulsuptild
Tupa
Sao
Mae-Yindee
Choi
Khumawa
Tukanni
Nit
Sukdedee
Mae
Kanchon
Mai
Maeo
Pichari
Sunanya
Ngalamcha
Kana
Phinehoi
Sunya
Tulboomala
Nim
Noklermdee
Phipya
Kana
Dhichuasir
Phadee
Somalab
Noyin
Sae-Noi
Pia
Mekhatali
Suri
Dhipra
Rajitra
Tupa
Ungwaa
Kanya-Khoi
Mekhlanyin
Tui
Dhichunyin
Jina
Kohsoom
Noi
Kameeva
Ma-Pata
Malyandee
Kanngamech
Ngatula
Chan
Kansa
Kam
Kamesrhoi
Dung
Khulaba
Kanchahoi
Mala
Kansun
Canjithoi
