Kiru?un hiKan
Kaonuen hiSryma?i
Mritush hiTikeres
Hlung hiTlokuru
Tsushat hiGirunge
Puruqum hiKai
Saidzo hiHrani
Supijai hiGal
Kel hiDriqalu
Drodla hiPijai
Dhi?iya hiMrikkel
Srunu hiSe?etan
Tnal hiHenaime
Uruggas hiDra
Puruvar hiShqashe
Akanaru hiNma
Lorh hiKalljai
Tsoleka hiKhai
Danal hiChejair
Pijayil hiCheshch
Sneku?u hiMssar
Gai hiHluma?a
Kosuru? hiPechat
Ntomul hiSumi?iy
Vreshmu hiTarruni
Shai hiQirakon
Ssuna hiMetraic
Aqiyant hiDranu
Kasuor hiKadi
Hichano hiHela
Jaka?av hiHon
Ku?uga hiChen
Semejay hiKsa
Sry?yel hiAkurani
Drakar hiMa?avya
Teshaga hiRetl
Zhaurig hiSe?el
Horu?un hiChai
Guoda hiSsayn
Zhuro hiAlakuya
Tsu hiKuriqal
Sru hiKalummu
Tkai hiHelayen
Zhar hiBesane
Pavadim hiSar
Chufesh hiAjasurg
Ku?umet hiTha
Beyi hiChoruna
Qaya hiPijekte
Dnyelay hiHrigasu
Avyantu hiSra
Lela hiAkhahla
Tsun hiTennu?u
Dishmu hiNainger
Pijena hiYeno
Siryalu hiKal
Rak hiTishalu
Tloro hiMuatsuh
Ngantha hiArugalu
Kekkali hiKema
Orsumet hiZrnesh
Dnya hiPurarin
Zhiri hiAshesea
Lokh hiFulguod
Vim hiMelavan
Mriyotl hiMi?ila
Equ?orm hiMri
Nma hiVriyafe
Soroylu hiMetka
Methani hiTsuzhik
Kevukel hiMneshir
Zusa hiHenyame
Silina hiTla
Guoroye hiSruchut
Pachahy hiZhamena
Ssa hiKemunu
Vaya hiDhiyau
Ekkten hiSupijal
Hmuyaga hiDrayan
Tusaret hiDurrun
Engethe hiFashal
Sharran hiTonuket
Surussa hiChama
Henyala hiUrsh
Kuthutu hiLlal
