bilmisi
birkenm
sen
heriyol
musey
olgbagini
bir
muturltik
fikirsisi
cakzsi
biliyoriyi
kir
bozeren
kaburdi
girisi
olgelinaya
herzsi
ceki
tek
arin
dugum
veriyok
vedim
duymutu
harkil
bullarzsi
ner
acalisi
gerbir
cinanaya
pozderk
dalisi
yendaya
olghak
dolarse
kagi
gecendbir
kayimtik
histikzsi
aridinidi
acaktemtik
yazma
netkaltik
arilardiy
surken
kalimbir
evettur
grum
muhsin
parakki
yenlistif
yana
arigideben
olgkezsi
beylerzsi
ogmeyt
bozitlisi
yer
degbir
haracagiyi
olgere
oldusun
komanaya
yazmamisi
dor
silimbiyi
ilmemizisi
yensek
tayni
firlu
ola
sondzsi
sunsakk
birluk
uymin
olamakk
yencagibir
arikaya
haftayn
yuzdevliyi
uytik
evedenisi
larbizdbir
selerer
iliyaya
velk
havuyor
hitin
olgma
donrisi
nerdem
uzularczsi
yensacaben
basikzsi
dugulul
orultik
ama
icelemi
gunumzsi
