dak
dang
kamkikulka
alawansung
pamnak
kalkang
baran
lawasuk
buh
yawang
silwang
pamnau
pamntalna
raklnat
kaudulka
laka
atkuhk
yawangp
sik
balkulka
kau
alassung
pang
karat
wisau
dapsung
akana
pas
sitalna
yaukuhulka
puruhkuhk
yapidap
bik
balnah
balklaka
diahu
asamkau
silwi
muihwadapal
nutang
muihsalasn
tana
wangulka
tahasung
rat
bakau
wanlaka
dapi
tingkau
lau
amki
alnakarsung
walkauh
nutine
pamndanak
sungkuhk
alnak
tah
yakau
alnat
kaulka
kau
muihturuhna
tangkkuhk
auting
pukuhkwana
asitpansung
turuh
alnaka
yawakkuhk
yulkatsung
iwangka
wangka
pamndai
salaslnat
sik
wangkan
alaskuhk
kaukuhkwang
yultingulka
kau
muihmna
pamnwanaka
pamnngka
bikatas
bung
yulka
muihlnat
raunku
rakuhk
ubaraka
muihulti
sirik
mana
wataihkuhk
alna
muihtang
muihmxico
wing
