Hlif
Hreydis
Thorhil
Berd
Sig
Ingunn
Thora
Unn
Gjafla
Freyda
Frid
Halgerd
Halgerd
Helga
Katlaug
Thorunn
Hildis
Thorgun
Berann
Halfdig
Hild
Grid
Berdis
Hallger
Sigerd
Gunna
Thorglj
Dotta
Halld
Arnorbj
Berg
Thorbjo
Hallfre
Helgera
Hreyda
Hrodny
Ingiger
Grodny
Ingibjo
Hildis
Halla
Asleig
Ingunn
Saeunn
Svallve
Thorann
Hild
Thorg
Gunn
Thoragn
Ranna
Frid
Gydis
Herd
Unn
Hrefna
Thorunn
Ingirid
Thyra
Herdig
Gyda
Ragnhil
Valld
Hlif
Asta
Hreydis
Thorhil
Hrodny
Ingibjo
Allveig
Thorbjo
Ingig
Sigdis
Thorg
Gunn
Berd
Helgerd
Thurid
Thorg
Hroa
Dotta
Grodhil
Gunn
Halld
Thorhil
Thyrann
Berd
Sigdis
Hlif
Arnorag
Ingirim
Frid
Hroa
Asleigr
Ingirid
Hala
Thorkat
Thurima
Aud
Thoragn
Berdis
Hallvei
Alga
Frimhil
Asgera
Thorunn
Hroa
Thord
Beranna
Thurid
Thurid
Rann
Thorun
Svalla
Dotta
Frefna
Thord
Hild
Hlif
Allveig
Hreydis
Thora
Aug
Ingibjo
Thora
Asgerdi
Gudrunn
Unn
Thorkat
Arnorag
Asleigu
Thorhil
Hlif
Hild
Gyda
Alfdis
Astrid
Hreyda
Ragna
Berd
Hildis
Thora
Thorunn
Valfref
Katla
Grid
Thyragn
Hild
Hroa
Gjafla
Ragnhil
Sigunnv
Thorunn
Ala
Grid
Gudrimh
Thjot
Arnorgu
Hrodny
Ingigri
Ingudru
Vigdis
Thyrann
Gyda
Frid
Gjaflau
Asta
Grid
Grid
Helgerd
Gunn
Berd
Unn
Svalldi
Herd
Vallvei
Hlif
Hergljo
Arnorha
Gjafla
Ranna
Astrid
Hallaud
Hroa
Thorg
Thorgun
Vala
Asta
Dot
Astrid
Vigdis
Groa
Astrid
Svallfd
Gunn
Herd
Ingibjo
Ingigri
Halga
Berg
Thorglj
Thurid
Valgerd
Thorunn
Hild
Ingig
Sig
Svallge
Thyra
Arnorg
Sigunnv
Halga
Frid
Hild
Ingunn
Thyrann
Halla
Bergljo
Frid
Berd
Thorunn
Asleige
Ingig
Thorhil
Valfdis
Thora
Berd
Thorglj
Ingig
Saeunn
Berd
Halfrim
Dotta
Vigrodn
Ingunn
Hallvei
Thord
Allga
Aug
Hild
Arnorg
Thora
Thora
Katla
Thordis
Herd
Helga
Dotta
Hild
Gjafla
Ragna
Asta
Aug
Halgerg
Sigdis
Thoragn
Thurid
Ragna
Katla
Dotta
Halfdis
Helga
Thurima
Frid
Sigerd
Asaeunn
Halla
Thurid
Thord
Audrid
Ragna
Gjafla
Thjot
Alfdis
Thorkat
Berdis
Thorunn
Ragna
Hildis
Gjafla
Gyda
Hala
Unnveig
Herdis
Hala
Asa
Thorgun
Berd
Grodny
Ingibjo
Asaeun
Thorunn
Grid
Gud
Thorhal
Gunn
Thorglj
Vig
Thjorg
Ingirid
