Ottard
Hjorste
All
Sumarn
Botrygg
Stils
Thorkel
Heldord
Styrket
Solvin
Thordi
Haslafg
Skarnla
Haslam
Sig
Lauk
Bui
Snorket
Kaptils
Hafni
Kad
Otolf
Algi
Vat
Kar
Thorgtr
Haslein
Gari
Lod
Innbogi
Thrarnf
Stolfge
Thrim
Half
Steind
Onunnla
Solmund
Steirmu
Alf
Odd
Otrygg
Steinn
Geinnbj
Snord
Orkel
Sigfus
Yng
Harim
Ein
Vagni
Gunn
Gragni
Borgrid
Eyjodor
Thor
Tolakon
Find
Stein
Hrogi
Hrand
Thjarmu
Steinn
Steirst
Haki
Thorand
Gudmund
Skad
Thordi
Horfink
Haug
Ottar
Thorkar
Hognvat
Snor
Gudmunn
Kel
Tolf
Ulf
Ambi
Gulf
Herstei
Beir
Karnori
Eind
Hald
Thornfi
Gunori
Keti
Haug
Horfina
Thorges
Thormod
Grim
Gulfrin
Horkel
Sig
Olfdani
Alf
Bar
Snormor
Kard
Ozurlam
Grad
Thorbjo
Herlidi
Glumard
Geirirm
Hasturl
Yng
Horhar
Gri
Thorbra
Eyjosto
Hralf
Olmuni
Eyvigul
Lein
Har
Kolf
Botost
Grir
Garni
Steir
Und
Thorni
Kalf
Kad
Botkeld
Thrut
Thord
Samundr
Ofeir
Steinke
Knut
Thorim
Hraind
Thordi
Hord
Vall
Olvin
Stard
Roaldge
Vin
Eir
Stein
Eyjorst
Otostar
Glum
Half
Ulf
Thord
Ofein
Thor
Solf
Ottarn
Haslein
Sigfus
Yngvarn
Vein
Geirmor
Gein
Glum
Solbeir
Gurd
Stost
Islambi
Vat
Innlak
Hroalf
Olvi
Stein
Sigfus
Yngjalt
Verlidg
Gund
Halld
Gestein
Valluma
Thord
Thorri
Solf
Islein
Gizur
Kolf
Inn
Hak
Bein
Hjodorb
Sum
Gund
Gein
Hedi
Bard
Ingolak
Sumar
Geir
All
Olvir
Gulf
Halgi
Solvi
Arm
Thralti
Geif
Snorbra
Fin
Vald
Amundra
Sigtryg
Algard
Hrim
Sum
Otkel
Knut
Kel
Hauk
Half
Orst
Thorgil
Eysteif
Steif
Thord
Solf
Thragni
Knut
Glug
Ari
Islend
Samund
Tolberl
Thorkal
Kolf
Odolf
Thorhav
Styrkal
Lendrag
Vat
Kapti
Thrand
Vat
Glumarn
Sigurdi
Gund
Finnbog
Morhafg
Solf
Hrogmun
Sigwulf
Ottardi
Ard
Thrani
Karlauk
Ein
Hjaldol
Leir
Thjotol
Thord
Rafgein
Bjotolv
Olmund
Olf
Skad
Hersigh
Arnord
Hald
Veir
Thor
Sigthor
Olf
Thord
Thridi
Stol
Half
Kolf
Islein
Vagnar
Ralf
Hrandri
Hjolber
Eyvigth
Rund
Hald
Ogi
Bjotolf
Otrygg
Solf
Ofein
Solvi
Thrani
Leir
Stolafn
Hald
Gurd
Olf
Ljolf
Borkarn
Sigunnb
Sigfus
Yngolf
Ozur
